
    <!-- Main content -->
  <div class="main-content">
    <!-- Header -->
    <div class="header bg-primary pt-5 pb-7">
      <div class="container">
        <div class="header-body">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="pr-5">
                <h1 class="display-2 text-white font-weight-bold mb-0">.:: LIZ AZUL ::.</h1>
                <h2 class="display-4 text-white font-weight-light">Sistema de gestão de escuteiros.</h2>
                <p class="text-white mt-4">Liz AZUL é um Sistema de gestão de escuteiros à nível dos Agrupamentos, Cadastrar escuteiros, Confirmação do Ano escutista, com modulos de exportar listas EXCEL, PDF, Registo de Pagamento de Quotas</p>
                <div class="mt-5">
                  <a href="<%= scout_search_path %>" class="btn btn-neutral my-2">Consultar Dados</a>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="row pt-5">
                <div class="col-md-6">
                  <div class="card">
                    <div class="card-body">
                      <div class="icon icon-shape bg-gradient-warning text-white rounded-circle shadow mb-4">
                        <i class="ni ni-active-40"></i>
                      </div>
                      <h5 class="h3">Lobitos</h5>
                      <p>O escutismo é um jogo, portanto,  o sistema de progressão pessoal funciona também como um jogo.</p>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-body">
                      <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow mb-4">
                        <i class="ni ni-active-40"></i>
                      </div>
                      <h5 class="h3">Seniores</h5>
                      <p>O sistema de progresso visa o desenvolvimento integral e harmonioso do escuteiro.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 pt-lg-5 pt-4">
                  <div class="card mb-4">
                    <div class="card-body">
                      <div class="icon icon-shape bg-gradient-success text-white rounded-circle shadow mb-4">
                        <i class="ni ni-active-40"></i>
                      </div>
                      <h5 class="h3">Juniores</h5>
                      <p>A Educação pela Ação é uma das caraterísticas do Método Escutista.</p>
                    </div>
                  </div>
                  <div class="card mb-4">
                    <div class="card-body">
                      <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow mb-4">
                        <i class="ni ni-active-40"></i>
                      </div>
                      <h5 class="h3">Caminheiros</h5>
                      <p>É uma proposta que se constitui como um complemento pedagógico ao Sistema de Progresso.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>

  </div>
