<!-- Sidenav -->
<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
        <div class="sidenav-header  d-flex  align-items-center">
            <a class="navbar-brand" href="javascript:void(0)">
                <img src="/logo.png" class="navbar-brand-img" alt="...">
            </a>

            <div class=" ml-auto ">
                <!-- Sidenav toggler -->
                <div class="sidenav-toggler d-none d-xl-block" data-action="sidenav-unpin" data-target="#sidenav-main">
                    
                </div>
            </div>
        </div>

        <div class="navbar-inner">
            <!-- Collapse -->
            <% if current_user.admin? %>
                <%= render 'layouts/partials/sidbar_main' %>    
            <% else %>
                <% if current_user.chefe_1_seccao? %>
                    <%= render 'layouts/partials/sidbar_lobitos' %>    
                <% elsif current_user.chefe_2_seccao? %>

                <% elsif current_user.chefe_3_seccao? %>

                <% elsif current_user.chefe_4_seccao? %>

                <% elsif current_user.agent? %>
                
                <% end %>
            <% end %>
        </div>
    </div>
</nav>
